<!DOCTYPE html>
<html ng-app="zpresence">
<head lang="en">
    <title>zPresence</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="lib/bootstrap-3.1.1/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            padding-top: 70px;
        }

        .first-letter {
            background-color: #f5f5f5;
            font-weight: bold;
        }

        .navbar-text {
            float: left;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-right: 15px;
            margin-left: 15px;
        }

        .modal-body {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header pull-left">
        <a href="#" class="navbar-brand" data-toggle="modal" data-target="#infoModal">
            <span class="glyphicon glyphicon-info-sign small"></span>
            ZenPresence
        </a>
        <a href="#" class="navbar-text navbar-link" ng-click="sync()">
            <span class="glyphicon glyphicon-refresh" ng-show="eventbus && $storage.event"></span>
            <span class="glyphicon glyphicon-ban-circle" ng-show="!eventbus || !$storage.event"></span>
        </a>
    </div>
    <div class="navbar-header pull-right">
        <a href="#" class="navbar-text navbar-link" ng-show="eventbus" data-toggle="modal" data-target="#eventModal"><span class="glyphicon glyphicon-list"></span></a>
    </div>
</nav>
<!-- Info Modal -->
<div class="modal fade" id="infoModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">FAQ <span class="glyphicon glyphicon-question-sign"></span></h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Import de données</h4>
                        <ul>
                        <li>Vous pouvez utiliser l'import par fichier Excel</li>
                        <li>Éditer (en ayant arrêté le serveur) directement le fichier
                            <code>.jsonSnapshot</code> présent dans le répertoire
                            <code>.zpresence</code> de votre espace utilisateur
                        </li>
                        <li>Ajouter les contacts (occasionel) un à un au moyen de l'interface graphique</li>
                        </ul>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Je veux utiliser l'application depuis mon smartphone/tablette</h4>

                        <p class="list-group-item-text" ng-show="ipScanner.isLocalhost()"><a href="" ng-click="ipScanner.redirect(3000)">Cliquez ici pour tenter de découvrir votre adresse IP local</a></p>

                        <p class="list-group-item-text" ng-show="ipScanner.urls.length">Naviguez vers une de ces URL depuis votre mobile:
                            <ul><li ng-repeat="url in ipScanner.urls"><a ng-href="{{url}}">{{url}}</a></li></ul>
                        </p>

                        <p class="list-group-item-text text-danger" ng-show="ipScanner.isLocalhost()">Assurez vous que cet ordinateur soit connecté au réseau</p>

                        <p class="list-group-item-text text-danger">Assurez vous que votre firewall ne bloque pas les connections entrante</p>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">J'ai lancé l'appli en double-cliquant dessus ...</h4>

                        <p class="list-group-item-text">... et j'aimerais bien arrêter le serveur proprement sans chercher et tuer le process javaw ou java ;)</p>

                        <p class="list-group-item-text text-danger"><a href="/exit" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-off"></span> arrêter l'application</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Event Modal -->
<div class="modal fade" id="eventModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Événements</h4>
            </div>
            <div class="modal-body">
                <div ng-if="!$storage.events.length">
                    <p class="lead text-muted text-center">Ajouter un événement !</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-class="{'list-group-item-info':event.id == $storage.event.id}" ng-repeat="event in $storage.events">
                        <div class="btn-group btn-group-sm pull-right" ng-if="event.id == $storage.event.id">
                            <button type="button" class="btn btn-default" ng-file-select="onFileSelect($files)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" data-multiple="false">
                                <span class="glyphicon glyphicon-cloud-upload"></span></button>
                            <a ng-if="event.id == $storage.event.id" ng-href="export/{{$storage.event.id}}.xls" target="_blank" class="btn btn-default"><span class="glyphicon glyphicon-cloud-download"></span></a>
                        </div>
                        <h5><a href="#" ng-bind="event.name" ng-click="select(event)"></a></h5>
                    </li>
                </ul>
                <div class="well well-sm" ng-if="$storage.event && $storage.events.length">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    L'import requiert un fichier Excel <strong>sans en-têtes</strong> avec au minimum 2&nbsp;colonnes&nbsp;[Prénom,&nbsp;Nom]
                    <p></p>
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Autres colonnes reprisent tel quel ...</th>
                        </tr>
                    </table>
                    <p class="text-danger">Si vous copier/coller des cellules Excel, assurez vous ne ne coller que les valeurs et qu'il n'y ait pas de style sur les cellules (couleurs, bordures, etc...)<br/>Utiliser la fonction "coller que les valeurs" ou un truc comme ça</p>
                </div>
            </div>
            <div class="modal-footer">
                <form class="input-group" ng-submit="add(new.event)">
                    <input type="text" class="form-control" ng-model="new.event" placeholder="Nouvel évènement">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </form>
                <p></p>

                <form class="input-group" ng-submit="delete(delete.event)">
                    <input type="text" class="form-control" ng-model="delete.event" placeholder="Supprimer évènement">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="panel panel-default" ng-if="$storage.event">
        <div class="panel-heading">
            <button type="button" class="btn btn-default btn-xs pull-right" ng-click="filter.view=!filter.view"><span class="glyphicon" ng-class="{'glyphicon-search':!filter.view,'glyphicon-plus':filter.view}"></span></button>
            <h3 class="panel-title" ng-bind="$storage.event.name"></h3>
        </div>
        <div class="panel-body">
            <div class="row" ng-show="filter.view">
                <div class="col-xs-8">
                    <input type="text" ng-model="filter.search" class="form-control" placeholder="Filtre"/>
                </div>
                <div class="checkbox col-xs-4">
                    <label>
                        <input type="checkbox" ng-model="filter.notPresent"> non présent
                    </label>
                </div>
            </div>
            <div class="row" ng-show="!filter.view">
                <div class="form-group col-xs-12">
                    <input type="text" ng-model="guest.firstname" class="form-control" placeholder="Prénom"/>
                </div>
                <div class="form-group col-xs-12">
                    <input type="text" ng-model="guest.lastname" class="form-control" placeholder="Nom de famille"/>
                </div>
                <div class="form-group col-xs-12" ng-repeat="attribute in guest.attributes">
                    <input type="text" class="form-control" ng-model="attribute.value" placeholder="{{attribute.placeholder}}"/>
                </div>
                <div class="form-group col-xs-12">
                    <input type="button" value="Nouvel attribut" class="btn btn-default btn-sm" ng-click="guest.attributes.push({value:'',placeholder:''})">
                </div>
                <div class="form-group col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="guest.presence"> présent
                        </label>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <input type="submit" value="Ajouter" class="btn btn-primary btn-sm" ng-click="addGuest()">
                </div>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item first-letter" ng-repeat-start="person in $storage.people|filter:notPresentFilter|filter:filter.search|firstLetter" ng-if="person.firstLetter">
                <span ng-bind="person.firstLetter"></span></li>
            <li class="list-group-item"
                ng-repeat-end
                ng-class="{'list-group-item-info':person.remote!=person.presence,'text-muted':person.presence}">
                <button type="button" class="btn btn-default btn-xs pull-right" ng-click="person.details=!person.details" ng-if="person.attributes.length">détails</button>
                <button type="button" class="btn btn-xs" ng-class="{'btn-default':!person.presence,'btn-info':person.presence&&!person.remote,'btn-primary':person.presence&&person.remote}" ng-click="toggle(person)">
                    <span ng-if="person.presence">présent</span>
                    <span ng-if="!person.presence">non présent</span>
                </button>
                <span ng-bind="person.firstname"></span>
                <span ng-bind="person.lastname"></span>
                <ul class="list-unstyled" ng-show="person.details">
                    <li ng-repeat="attribute in person.attributes track by $index"><span ng-bind="attribute"></span></li>
                </ul>
            </li>
        </ul>
        <div class="panel-footer">
            <span class="badge" ng-bind="$storage.people|presenceCount">0</span> présent(s)
            sur <span class="badge" ng-bind="$storage.people.length">0</span>
        </div>
    </div>
    <div ng-if="!$storage.event">
        <p class="lead text-muted text-center">Selectionnez ou créer un événement !</p>
    </div>
</div>

<script src="lib/jquery-2.1.1.min.js"></script>
<script src="lib/bootstrap-3.1.1/js/bootstrap.min.js"></script>
<script src="lib/lodash.min.js"></script>
<script src="lib/sockjs-min-0.3.4.js"></script>
<script src="lib/vertxbus-2.1.js"></script>
<script src="lib/angular-1.3.1/angular.min.js"></script>
<script src="lib/angular-vertxbus-0.6.0.js"></script>
<script src="lib/ngStorage/ngStorage.min.js"></script>
<script src="lib/angular-file-upload.min.js"></script>

<script>
    angular.module('zpresence', ['ngStorage', 'knalli.angular-vertxbus', 'angularFileUpload']) // Or the other one!? https://github.com/nervgh/angular-file-upload/tree/master/src
            .filter('presenceCount', function () {
                return function (people) {
                    return _.reduce(people, function (count, p) {
                        return p.presence ? count + 1 : count;
                    }, 0);
                }
            })
            .filter('firstLetter', function () {
                return function (people) {
                    var sortedPeople = _.sortBy(people, function(p){return p.lastname.toUpperCase()});
                    var firstLetter;
                    angular.forEach(sortedPeople, function (person) {
                        person.firstLetter = (person.lastname[0].toUpperCase() != firstLetter) ? person.lastname[0].toUpperCase() : null;
                        firstLetter = person.lastname[0].toUpperCase();
                    });
                    return sortedPeople;
                }
            })
            .factory('IpScanner', function($http, $q, $timeout, $location, $window) {
                var IpScanner = {
                    urls : [],
                    isLocalhost : function(){ return $location.host().indexOf("127.0.0.1") == 0 || $location.host().indexOf("0.0.0.0") == 0 || $location.host().indexOf("localhost") == 0; },
                    redirect : function(timeout){
                        $http.get('http://'+$location.host()+':'+$location.port()+'/ips').success(function(ips) {
                            if (ips.length) {
                                IpScanner.urls = [];
                                var firstValidIp = $q.defer();
                                angular.forEach(ips, function (ip) {
                                    console.log('Trying out', ip);
                                    $http.get('http://' + ip + ':' + $location.port() + '/ips').then(function () {
                                        IpScanner.urls.push('http://' + ip + ':' + $location.port() + '/');
                                        firstValidIp.resolve(ip);
                                    });
                                });
                                $timeout(function () {
                                    firstValidIp.reject('timeout');
                                }, timeout);
                                firstValidIp.promise.then(function (ip) {
                                    if (IpScanner.isLocalhost()) {
                                        $window.location.href = 'http://' + ip + ':' + $location.port();
                                    }
                                }, function(reason){ console.log('Nope!', reason, 'No other local address found!'); });
                            }
                        });
                    }
                };
                return IpScanner;
            })
            .factory('PrevaylerStore', function($q, vertxEventBusService) {
                return {
                    send: function (action, results, payload) {
                        var deferred = $q.defer();
                        var message = { action: action };
                        angular.extend(message, payload);
                        vertxEventBusService.send('prevayler-store', message, true)
                                .then(function (reply) {
                                    if (reply['status'] == 'ok') {
                                        deferred.resolve(reply[results]);
                                    } else {
                                        console.error('EvenBus prevayler-store', action, 'replied', reply['message']);
                                        deferred.reject('EvenBus prevayler-store ' + action + ' replied ' + reply['message']);
                                    }
                                })
                                .catch(function (error) {
                                    console.error('EventBus error', error);
                                    deferred.reject('EventBus error ' + error);
                                });
                        return deferred.promise;
                    }
                }
            })
            .run(function ($rootScope, $localStorage, PrevaylerStore, $upload, IpScanner) {
                $rootScope.$storage = $localStorage;
                $localStorage.event = $localStorage.event || null;
                $localStorage.events = $localStorage.events || [];
                $localStorage.people = $localStorage.people || [];
                $rootScope.eventbus = false;
                $rootScope.filter = {view:true};

                $rootScope.$watch('filter.view', function(filter){
                    if (!filter) {
                        var attributes = [];
                        angular.forEach($localStorage.people, function(person) {
                            var i = 0;
                            angular.forEach(person.attributes, function(attribute) {
                                attributes[i] = attributes[i] || [];
                                attributes[i++].push(attribute);
                            });
                        });
                        $rootScope.guest = {
                            firstname: '',
                            lastname: '',
                            attributes: [],
                            presence: true
                        };
                        angular.forEach(attributes, function(attribute) {
                            $rootScope.guest.attributes.push({value:'',placeholder:_.take(_.compact(_.uniq(attribute)), 3).join()});
                        });
                    }
                });

                $rootScope.ipScanner = IpScanner;

                IpScanner.redirect(2000);

                var storePeople = function(people){
                    angular.forEach(people, function(person){ person.remote = person.presence; });
                    $localStorage.people = people;
                };

                $rootScope.notPresentFilter = function (person) {
                    if ($rootScope.filter.notPresent) {
                        return !person.presence;
                    }
                    return true;
                };

                $rootScope.$on('vertx-eventbus.system.connected', function () {
                    $rootScope.eventbus = true;

                    PrevaylerStore.send('get-events', 'events').then(function(events){
                        $localStorage.events = events;
                        if ($localStorage.event && _.find($localStorage.events, 'id', $localStorage.event.id)) {
                            $rootScope.sync();
                        } else {
                            $localStorage.event = null;
                            $localStorage.people = [];
                        }
                    });
                });

                $rootScope.$on('vertx-eventbus.system.disconnected', function () {
                    $rootScope.eventbus = false;
                });

                $rootScope.toggle = function (person) {
                    person.presence = !person.presence;
                    if ($rootScope.eventbus) {
                        $rootScope.sync();
                    }
                };

                $rootScope.select = function (event) {
                    PrevaylerStore.send('get-people', 'people', { 'event': event.name }).then(function(people){
                        $localStorage.event = event;
                        storePeople(people);
                        $rootScope.filter.view = true;
                    });
                };

                $rootScope.add = function (event) {
                    PrevaylerStore.send('add-event', 'events', { 'event': event }).then(function(events){
                        $localStorage.events = events;
                        $rootScope.sync();
                        delete $rootScope.new.event;
                    });
                };

                $rootScope.delete = function (event) {
                    PrevaylerStore.send('delete-event', 'events', { 'event': event }).then(function(events){
                        $localStorage.events = events;
                        if (event == $localStorage.event.name) { //TODO test that
                            $localStorage.event = null;
                            $localStorage.people = [];
                        }
                        delete $rootScope.delete.event; //BAD
                    });
                };

                $rootScope.addGuest = function () {
                    if (_.trim($rootScope.guest.firstname).length && _.trim($rootScope.guest.lastname).length) {
                        var attributes = _.map($rootScope.guest.attributes, 'value');
                        attributes = _.some(attributes, function(attribute){ return attribute != ''; }) ? attributes : [];
                        $localStorage.people.push({
                            firstname: $rootScope.guest.firstname,
                            lastname: $rootScope.guest.lastname,
                            attributes: attributes,
                            presence: $rootScope.guest.presence
                        });
                        $rootScope.filter.view = true;
                        if ($rootScope.eventbus) {
                            $rootScope.sync();
                        }
                    }
                };

                $rootScope.sync = function () {
                    if ($localStorage.event) {
                        PrevaylerStore.send('edit-presence', 'people', { 'event': $localStorage.event.name, 'people': _.filter($localStorage.people, function(person){ return person.presence != person.remote }) }).then(function(people){
//                          storePeople(reply.people); //No because the UI flickers
                            angular.forEach(people, function (serverPerson) {
                                var found = false;
                                angular.forEach($localStorage.people, function (localPerson) {
                                    if (serverPerson.firstname == localPerson.firstname && serverPerson.lastname == localPerson.lastname) {
                                        found = true;
                                        localPerson.remote = serverPerson.presence;
                                        localPerson.presence = serverPerson.presence;
                                        localPerson.attributes = serverPerson.attributes;
                                    }
                                });
                                if (!found) {
                                    serverPerson.remote = serverPerson.presence;
                                    $localStorage.people.push(serverPerson);
                                }
                            });
                        });
                    }
                };

                $rootScope.onFileSelect = function (files) {
                    $upload.upload({
                        url: 'upload' + '/' + $localStorage.event.id,
                        file: files[0]
                    }).success(function (people, status, headers, config) {
                        $rootScope.filter.view = true;
                        storePeople(people);
                    }).error(function (error) {
                        console.log("Upload error!", error);
                    });
                };
            });
</script>

</body>
</html>