<!DOCTYPE html>
<html ng-app="zpresence">
<head lang="en">
    <title>zPresence</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="lib/bootstrap-3.1.1/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" ng-show="eventbus">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-refresh" ng-show="eventbus && $storage.event" ng-click="sync()"> ZenPresence</span>
                <span class="glyphicon glyphicon-ban-circle" ng-show="!eventbus || !$storage.event"> ZenPresence</span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" ng-show="eventbus">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Événements <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="event in $storage.events">
                            <a href="#" ng-click="select(event)" ng-bind="event"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div ng-if="!$storage.event">
        <p class="lead text-muted text-center">Selectionnez un événement !</p>
    </div>
    <div class="panel panel-default" ng-if="$storage.event">
        <div class="panel-heading">
            <h3 class="panel-title" ng-bind="$storage.event"></h3>
        </div>
        <div class="panel-body">
            <input type="text" ng-model="search" class="form-control" placeholder="Filtre"/>
        </div>
        <ul class="list-group">
            <li class="list-group-item"
                ng-repeat="person in $storage.people|filter:search|orderBy:'lastname'"
                ng-class="{'list-group-item-info':person.dirty}">
                    <span class="label pull-right"
                          ng-class="{'label-default':!person.presence,'label-info':person.presence&&person.dirty,'label-primary':person.presence&&!person.dirty}"
                          ng-click="toggle(person)">
                        <span ng-if="person.presence">présent</span>
                        <span ng-if="!person.presence">non présent</span>
                    </span>
                <span ng-bind="person.firstname"></span>
                <span ng-bind="person.lastname"></span>
            </li>
        </ul>
        <div class="panel-footer">
            <span class="badge" ng-bind="$storage.people|presenceCount">0</span> présent(s)
            sur <span class="badge" ng-bind="$storage.people.length">0</span>
        </div>
    </div>
</div>

<script src="lib/jquery-2.1.1.min.js"></script>
<script src="lib/bootstrap-3.1.1/js/bootstrap.min.js"></script>
<script src="lib/lodash.min.js"></script>
<script src="lib/sockjs-min-0.3.4.js"></script>
<script src="lib/vertxbus-2.1.js"></script>
<script src="lib/angular-1.3.1/angular.min.js"></script>
<script src="lib/angular-vertxbus-0.6.0.js"></script>
<script src="lib/ngStorage/ngStorage.min.js"></script>

<script>
    angular.module('zpresence', ['ngStorage', 'knalli.angular-vertxbus'])
            .filter('presenceCount', function () {
                return function (people) {
                    return _.reduce(people, function (count, p) {
                        return p.presence ? count + 1 : count;
                    }, 0);
                }
            })
            .run(function ($rootScope, $localStorage, vertxEventBusService) {
                $rootScope.$storage = $localStorage;
                $localStorage.event = $localStorage.event || null;
                $localStorage.events = $localStorage.events || [];
                $localStorage.people = $localStorage.people || [];
                $rootScope.eventbus = false;

                $rootScope.$on('vertx-eventbus.system.connected', function () {
                    console.log('vertx-eventbus.system.connected');
                    $rootScope.eventbus = true;

                    vertxEventBusService
                            .send('prevayler-store', { action: 'get-events' }, true)
                            .then(function (reply) {
                                if (reply.status == 'ok') {
                                    $localStorage.events = reply.events;
                                    $rootScope.sync();
                                } else {
                                    console.error('get-events returned with error', reply.message);
                                }
                            })
                            .catch(function (error) {
                                console.error('Cannot get-events', error);
                            });
                });

                $rootScope.$on('vertx-eventbus.system.disconnected', function () {
                    console.log('vertx-eventbus.system.disconnected');
                    $rootScope.eventbus = false;
                });

                $rootScope.toggle = function (person) {
                    person.dirty = true;
                    person.presence = !person.presence;
                    if ($rootScope.eventbus) {
                        $rootScope.sync();
                    }
                };

                $rootScope.select = function (event) {
                    vertxEventBusService.send('prevayler-store', { action: 'get-people', 'event': event }, true)
                            .then(function (reply) {
                                $localStorage.event = event;
                                $localStorage.people = reply.people;
                            })
                            .catch(function (error) {
                                console.error('Cannot get-people from event', event, error);
                            });
                };

                $rootScope.sync = function () {
                    vertxEventBusService.send('prevayler-store', { action: 'edit-presence', 'event': $localStorage.event, 'people': $localStorage.people }, true)
                            .then(function (reply) {
                                angular.forEach(reply.people, function (serverPerson) {
                                    angular.forEach($localStorage.people, function (localPerson) {
                                        if (serverPerson.email == localPerson.email) {
                                            localPerson.dirty = (serverPerson.presence != localPerson.presence);
                                        }
                                    });
                                });
                            })
                            .catch(function (error) {
                                console.error('Cannot edit-presence from event', $localStorage.event, error);
                            });
                };
            });
</script>

</body>
</html>